:root {
    --body-bg-color: #FF8966;

    --editor-primary: #2A2B2A;
    --editor-secondary: #F8F4E3;
    --editor-accent: #E5446D;
    --editor-font-family: Verdana;

    --dialog-primary: #706C61;
    --dialog-secondary: #F8F4E3;
    --dialog-accent: #E5446D;
    --dialog-font-family: Verdana;
}